/***************************
Variables
***************************/
$bgImg: 'https://images8.alphacoders.com/428/428435.jpg';
$discoverBg: 'http://3.bp.blogspot.com/-jPIduDC--qA/UPhIvijfZsI/AAAAAAAAAEA/gbqrl5KPbjM/s1600/Movies+and+TV+Shows+Collage.jpg';
$searchBg: 'https://yt3.ggpht.com/a-/AJLlDp1m616D2vIJujgJz9m00yeJyhTF65_9qJcNng=s900-mo-c-c0xffffffff-rj-k-no';

$pop: 'Poppins', sans-serif;
$lightBlue: #809dcc;
$white: #fff;
$black: #000;
$gray: #636363;
$blue: #0951c4;

/***************************
Global Section
***************************/

body, html {
    font-family: $pop;
}

/***************************
Header Section
***************************/
header {
    color: $white;
    background-image: url($bgImg);
    background-color: $gray;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    padding: 3em 0;
    margin-bottom: 1em;

    h1 {
        font-weight: 300;
        text-align: center;
    }
}

/************************
Input Section
*************************/
.inner-input-section {
    text-align: center;
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.discover-container,
.search-container {
    position: relative;
    background-image: url($discoverBg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 1%;
    width: 48%;
    min-height: 40vh;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        h2 {
            background-color: rgba(0,0,0,0.4);
        }
    }

    h2 {
        color: $white;
        text-shadow: 1px 1px 1px $black;
        text-transform: capitalize;
        height: 100%;
        margin: 0;
        padding: 2%;
        border-radius: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        background-color: rgba(0,0,0,0.6);
    }
}
.search-container {
    background-image: url($searchBg);
}

/* input fields */
.input-discover-options,
.input-search-field {
    margin: 1em;
    display: none;
    border: 2px solid $lightBlue;
    border-radius: 5px;
    color: $black;
}
.input-discover-options {
    border: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.discover-option {
    width: 47%;
    display: inline-block;
    padding: 0.5% 1%;
    margin: 1%;
    background-color: $blue;
    color: $white;
    border: 2px solid $blue;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: transparent;
        color: $blue;
    }
}

/************************
Output Section
*************************/
.output-section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.movie-result-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background: rgba(100, 142, 211, 0.4);;
    border: 2px solid $blue;
    border-radius: 5px;
    width: 90%;
    padding: 2%;
    margin: 2% auto;

    img {
        height: auto;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }

    .movie-content {
        margin-bottom: 2em;
    }
}

/*********************
owl section
**********************/

.owl-nav {
    text-align: center;
    width: 100%;
  
    span {
      font-size: 2em;
      padding: 0.5em 1em;
    }
  }

/************************
Responsive Section
*************************/
@media screen and (min-width: 768px) {
    .movie-result-content {
        margin: 1% auto;
    }
    .discover-container,
    .search-container {
        min-height: 30vh;
    }
}

@media screen and (min-width: 1030px) {
    header {
        padding: 6em 0;
    }
    .inner-input-section {
        justify-content: center;
    }
    .discover-container,
    .search-container {
        min-height: 20vh;
        width: 40%;
    }
}
 
@media screen and (min-width: 1240px) {
    .discover-container,
    .search-container {
        width: 30%;
    }
}
